ALLOWED_ORIGINS=["http://localhost","http://localhost:5174"]
DATABASE_URL=postgresql+asyncpg://postgres:postgres@db:5432/postgres
DB_NAME=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DB_HOST=db
DB_PORT=5432
SQLALCHEMY_SILENCE_UBER_WARNING=1

JWT_SECRET=ur_super_secret_phrase
JWT_ALGORITHM=HS256
# in days
JWT_EXPIRATION=1